// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-liquid-container-width: 90%;
$blueprint-liquid-container-min-width: 900px;

// If you change your grid column dimensions
// you can make a new grid background image from the command line like this:
// compass grid-img 30+10x16

$base-font-size: 14px;
$base-line-height: 20px;
$font-color: #333;